<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Operations</title>
</head>
<body>
<center>
<h1 style="color:orange; font-size:45px;">Admin Work System</h1><br><br>

<h3><a style="color:#5ca612; font-size:37px; text-decoration: none;" href="/listcat"> 👉 Click here to Manage Categories</a></h3>
<br>
<h3><a style="color:#5b21ed; font-size:37px; text-decoration: none;" href="/index"> 👉 Click here to view the list of users</a></h3>
<br>
<h3><a style="color:#d40674; font-size:37px; text-decoration: none;" href="/listprod"> 👉 Click here to view the products List</a></h3>
<br>


<a href="/logout">LogOut</a>


</center>
</body>
</html>