<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     
     <bean id="s" class="com.simplilearn.firstspring.Student">
         <property name="id" value="101"></property>
         <property name="name" value="John Smith"></property>
         <property name="marks" ref="m"></property>
     </bean>
     
     <bean id="m" class="com.simplilearn.firstspring.Marks">
         <property name="phy" value="89"></property>
         <property name="chem" value="78"></property>
         <property name="math" value="65"></property>
     </bean>
       
</beans>
